@using Microsoft.AspNetCore.Identity
@using AsignacionBienesINEI.Models.Entities
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<div class="nav-item dropdown">
    @if (SignInManager.IsSignedIn(User))
    {
        <a href="#" class="d-flex lh-1 text-reset p-0" data-bs-toggle="dropdown" aria-label="Open user menu">

            <span class="avatar avatar-sm">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-user" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <circle cx="12" cy="7" r="4"></circle>
                    <path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2"></path>
                </svg>
            </span>

            <div class="d-none d-xl-block ps-2">
                <div><strong>@UserManager.GetUserAsync(User).Result.UsuarioNombreCompleto</strong></div>
                <div class="mt-1 small text-muted">@User.Identity!.Name</div>
            </div>
        </a>
        <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
            @*<a asp-area="Identity" asp-page="/Account/Manage/Index" class="dropdown-item">Mi Perfil</a>
        <div class="dropdown-divider"></div>*@

            @if (User.IsInRole("Administrador"))
            {
                @*<a asp-area="Identity" asp-page="/Account/Register" class="dropdown-item">Registrar Cliente</a>
                <a asp-controller="UserRoles" asp-action="Index" class="dropdown-item">Admin. Clientes</a>
                <a asp-controller="RolesManager" asp-action="Index" class="dropdown-item">Admin. Roles</a>*@
            }

            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="dropdown-item">Salir</button>
            </form>
        </div>
    }
    else
    {
        <a href="#" class="nav-link d-flex lh-1 text-reset p-0" data-bs-toggle="dropdown" aria-label="Open user menu">
            <span class="avatar avatar-sm">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-user" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <circle cx="12" cy="7" r="4"></circle>
                    <path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2"></path>
                </svg>
            </span>
            <div class="d-none d-xl-block ps-2">
                <div>VISITANTE</div>
            </div>
        </a>
        <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
            <a asp-area="Identity" asp-page="/Account/Login" class="dropdown-item">Entrar</a>
        </div>
    }
</div>
